<html lang = "en">
    <body>
        <head>
            <meta charset="UTF-8">
            <link rel= "stylesheet" href= "../static/styles/page.css">

            <!-- <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/page.css')}}"> -->

            <title>WegBuddy</title>
        </head>
        
        <div class="container">
            <div class="box">
                <h1>WegBuddy</h1>
            </div>
            <p><b>Please write a short sentence about how you're feeling right now:</b></p>
            <form method="INPUT" id="textbox">
                <input name="text">
                <input type="submit">
            </form>
        </div>
    </body>
</html>